img{
    margin-left: 38%;
    margin-right: 50%;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h4{
    text-align: center;
}
p{
    font-size: xx-large;
    text-align: center;
}
h3{
    text-align: center;
}
.team{
    text-align: center;
}